.faqs {
    margin-top: 120px;
}

.faqs__flex {
    margin: 0;
    padding: 0;
    display: flex;
}

.faqs__title {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: $accent;
}

.faqs__heading {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -1.78571px;
    color: $accent;
    margin-right: 120px;
    flex-shrink: 0;
    margin-top: 64px;
}

.faqs__button {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    width: 730px;
    padding: 32px 40px 32px;
    display: flex;
    background-color: $btn;
    border: none;


    &-heading {
        margin: 0;
        padding: 0;
        font-family: 'Space Mono';
        font-weight: bold;
        font-size: 24px;
        letter-spacing: -1.07143px;
        text-align: left;
        color: $accent;
    }

    &::after {
        background-image: url(../../img/topbot.svg);
        background-repeat: no-repeat;
        width: 18px;
        height: 13px;
        display: block;
        margin-left: auto;
        transform: translate(-50, 50%) rotate(-45deg);
        content: ('');
    }
}

.faqs__list {
    @include list-unstyled;
    margin-top: 64px;
}

.faqs__desc {
    display: none;
    font-family: 'Lexend Deca';
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    background-color: $btn;
    margin-top: -1rem;
    padding: 32px 40px 32px;
    color: $accent;
}


.faqs__desc--opening {
    display: block;
}

@media only screen and (max-width: 1437px) {
    .faqs {
        max-width: 768px;
    }

    .faqs__flex {
        display: block;
    }

    .faqs__heading {
        text-align: center;
        margin-right: 0;
    }

    .faqs__title {
        text-align: center;
    }

    .faqs__desc {
        max-width: 624px;
        padding: 0;
        margin: 0 auto;
        margin-top: -16px;
        margin-bottom: 16px;
        padding: 32px;
        padding-top: 0;
    }

    .faqs__button {
        max-width: 689px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 770px) {
    .faqs__button {
        max-width: 311px;
        padding: 32px 50px 32px 32px;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    

    .faqs__button-heading {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.803571px; 
        margin: 0;
    }

    .faqs__button {

        &:after {
            width: 25px;

        }
    }

    .faqs__desc {
        max-width: 251px;
    }
}