.header {
    padding-top: 22px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 6;
}
.header__container { 
    display: flex;
    padding-bottom: 24px;
    align-items: center; 
    position: relative;
}

.header__button {
    display: none;
}

.header__container-img {
    background-image: url(../img/scoot.svg);
    width: 107px;
    height: 29px;
    display: block;
}

.header__linked {
    margin: 0;
    padding: 0;
    display: block;
    margin-left: 511px;
}

.header__nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1437px) {
    .header__container {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 39px;
    }

}

@media only screen and (max-width: 1437px) {
    .header__contact {
        max-width: 768px;
        margin: 0 auto;
    }

    .header__linked {
        margin-left: 79px;
    }

}

.header__button {
    display: none;
    padding: 0;
    margin: 0;
    width: 19px;
    height: 17px;
    background-color: #fff;
    border: 1px solid transparent;

    
    
    &::before,
    &::after,
    &-span {
        width: 100%;
        height: 3px;
        background-color: #FCB72B;
        margin-top: 2px;
        transition: 0.2s all;
        display: block;
        content: ('');
    }

}

.header__button--opening {
    position: relative;
    display: block;

    .header__button-span {
        display: none;
    }
    
    &::before,
    &::after {
        position: absolute;
        width: 19px;
        left: 50%;
        top: 50%;
    }
    
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &::before {
        margin-bottom: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}




@media only screen and (max-width: 770px) {

    .header__contact {
        max-width: 375px;
    }

    .header__container {
        max-width: 375px;
    }

    .header__nav {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: $black;
        display: block;
        z-index: 3;
        
        
        align-items: stretch;
        padding: 64px 32px 24px;
    }

    .header__link{
        margin-left: 98px;
    }

    .header__item {
        margin: 0;
        padding: 0;
        margin-right: 0;
        margin-top: 24px;
        display: block;

        &:first-child {
            margin-top: 0;
        }
    }


    .header__wrap {
        text-align: stretch;
        padding: 64px 32px 24px;
        display: block;
    }


}

@media only screen and (max-width: 770px) {
    .header__button {
        display: block;
    }

    .header__linked {
        margin-left: -0px;
        margin-top: 387px;
    }
}


.header__burger--opened {
    position: relative;
    
  
    & .header__burger-inner {
      display: none;
    }
    
    &::before,
    &::after {
      width: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
    }
    
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &::before {
      margin-bottom: 0;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }